<suite name="Suite">
  <test name="TestChrome">
  <parameter name="grid" value="yes"/>
  <parameter name="gridURL" value="http://192.168.29.187:4444"/>
  <parameter name="browser" value="edge"/>
  <parameter name="env" value="staging_env.properties"/>
    <packages>
      <package name="script"/>
    </packages>
  </test> 
</suite>
